@charset "UTF-8";

body {
  margin: 0;
  background-color: #ced3df;
}

button {
  border: 2px solid #000;
  margin-top: 10px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.background {
  width: 1000px;
  height: 600px;
  background: url("./img/background.png") no-repeat center/cover;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  text-align: center;
}

.start_btn {
  width: 60px;
  height: 60px;
  background-color: bisque;
  border-radius: 10px;
  cursor: pointer;
}

.start_btn:hover {
  transform: scale(1.2);
}

.time {
  width: 140px;
  height: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: #fff;
}

.number {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 38px;
  background-color: coral;
  color: #fff;
}

.click_area {
  width: 900px;
  height: 200px;
  margin-top: 140px;
}

.carrot:hover {
  transform: scale(1.2);
}

.bug:hover {
  transform: scale(1.2);
}

.game_over {
  width: 250px;
  height: 120px;
  position: absolute;
  bottom: 150px;
  color: #fff;
  font-size: 28px;
  border-radius: 15px;
}

.fa-redo-alt {
  font-size: 32px;
  margin: 20px 0 10px 0;
}
