@charset "UTF-8";

body {
  background-color: #000;
  /* position: relative; */
  /* text-align: center; */
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

.game {
  width: 600px;
  height: 340px;
  background: url(./img/background.png) center/cover;
  border-radius: 5%;
  /* margin: 50px auto; */
  /* position: relative; */
  margin: auto;
  display: flex;
  flex-direction: column;
}

.game__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 20px;
}

.game__button {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 10px;
  /* margin-top: 10px; */
  font-size: 18px;
  transition: transform 300ms ease-in;
}

/* .fa-play {
    font-size: 16px;
} */

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 55px;
  /* height: 20px; */
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 6px;
  margin: 3px 0;
}

.game__score {
  width: 24px;
  height: 24px;
  border: 2px solid #000;
  background-color: coral;
  color: #fff;
  border-radius: 50%;
}

.game__field {
  /* width: 535px;
    height: 134px; */
  /* position: absolute;
    left: 34px;
    bottom: 13px; */
  width: 100%;
  height: 100%;
  /* background-color: blue;
  opacity: 0.4; */
  margin-top: 40px;

  position: relative;
}

.pop-up {
  display: block;
  width: 200px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  /* position: absolute; */
  /* top: 180px; */
  /* left: 240px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 8px;
  margin: auto;
  transform: translateY(-150%);
  text-align: center;
  padding: 20px;
}

.pop-up__hide {
  display: none;
}

.pop-up__refresh {
  width: 45px;
  height: 45px;
  border: 2px solid #000;
  /* outline: 0; */
  background-color: lightpink;
  border-radius: 8px;
  /* margin-bottom: 3px; */
  font-size: 28px;
  transition: transform 300ms ease-in;
  /* display: block; */
  /* margin: auto; */
  /* padding: 20px; */
}

/* .fa-redo {
    font-size: 18px;
} */

.pop-up__refresh:hover {
  transform: scale(1.1);
}

.pop-up__message {
  color: #fff;
  font-size: 29px;
  display: block;
}
