@charset 'UTF-8';

* {
  box-sizing: border-box;
}
ul {
  padding: 0;
  /* list-style: none; */
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
body {
  background-color: #ced3df;
  text-align: center;
}
.list {
  width: 340px;
  height: 600px;
  margin: 40px auto;
  background-color: #f1f0f7;
  border-radius: 25px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    1px 2px 16px 10px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    1px 2px 16px 10px rgba(0, 0, 0, 0);
}
.header {
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  color: #fff;
  border-radius: 25px 25px 0 0;
  background: rgb(244, 238, 32);
  background: linear-gradient(
    155deg,
    rgba(244, 238, 32, 0.9780287114845938) 18%,
    rgba(7, 219, 245, 1) 62%,
    rgba(17, 221, 170, 1) 93%
  );
}
.items {
  height: 460px;
  margin: 0;
  overflow-y: auto;
}
.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
}
.item_divider {
  /* border: 1px solid lightgray; */
  width: 90%;
  height: 1px;
  background-color: lightgray;
  margin: auto;
}
.item_name {
  font-size: 18px;
}
.item_delete {
  font-size: 18px;
  transition: all 300ms ease-in;
}
.item_delete:hover {
  color: red;
  transform: scale(1.2);
}
.footer {
  /* height: 100px; */
  border-radius: 0 0 25px 25px;
  background: rgb(244, 238, 32);
  background: linear-gradient(
    155deg,
    rgba(244, 238, 32, 0.9780287114845938) 18%,
    rgba(7, 219, 245, 1) 62%,
    rgba(17, 221, 170, 1) 93%
  );
}
.footer_input {
  width: 100%;
  height: 32px;
  outline: none;
  border: none;
  padding: 2px 16px;
  font-size: 20px;
}
.footer_button {
  font-size: 28px;
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  /* margin-top: 10px; */
  width: 48px;
  height: 48px;
  transition: transform 300ms ease-in;
}
.footer_button:hover {
  transform: scale(1.1);
}
